html{
    width: 100%;
    height: 100%;
}
body {

    width: 100%;
    height: 100%;

    background-image: url("../iphone-tumblr-wallpapers-HD3.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
}​